# Python cache files
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
env/
venv/

# Editor settings
.vscode/

# OS-specific junk
.DS_Store
Thumbs.db

# Data folders
data/raw/sbml_files/temporary_files/
data/raw/mplrs_data/ecolicore_model_v1_frc10.evfs
data/processed/figures/

# Large EFV/EFM result files
data/processed/csv_files/EFVs_paths.csv
data/processed/csv_files/EFMs_paths.csv
data/processed/csv_files/Martino_EFMs_paths_scaled.csv
data/processed/csv_files/Martino_EFVs_paths_scaled.csv

# Local Ideal Microbes package variants
code/Ideal_Microbes_Simulations/Core/IdealMicrobe.py
code/Ideal_Microbes_Simulations/GEM/IdealMicrobe.py